{{errorMessage}}
<div class="article">
    <div class="articleTitle">Article Title: {{ article.title }}</div>
    <div class="articleBody">Body: {{ article.body }}</div>
    <div class="articleAuthor">Author: {{ article.author }}</div>
    <div class="articleURLTitle">URL Title: {{ article.urlTitle }}</div>
</div>