{{errorMessage}}
<div class="product">
    <form method="POST" action="/products/{{ product.id }}?_method=PUT" enctype="application/x-www-form-urlencoded">
        <div class="productId">Product ID: {{ product.id }}</div>
        <div class="productName">Name: <input type="text" name="name" value="{{ product.name }}"></div>
        <div class="productPrice">Price: <input type="number" name="price" value="{{ product.price }}"></div>
        <div class="productInventory">Inventory: <input type="number" name="inventory" value="{{ product.inventory }}">
        </div>
        <button type="submit">Update Product</button>
    </form>
</div>