{{errorMessage}}
{{#each products }}
<div class="product">
    <div class="productId">Product ID: {{ this.id }}</div>
    <div class="productName">Name: {{ this.name }}</div>
    <div class="productPrice">Price: {{ this.price }}</div>
    <div class="productInventory">Inventory: {{ this.inventory }}</div>
</div>
{{/each}}