{{errorMessage}}
<div class="product">
    <div class="productId">Product ID: {{ product.id }}</div>
    <div class="productName">Name: {{ product.name }}</div>
    <div class="productPrice">Price: {{ product.price }}</div>
    <div class="productInventory">Inventory: {{ product.inventory }}</div>
</div>